body{
}
.side-nav a,.side-nav li>a>i.material-icons {
    color: rgba(0,0,0,1) !important;
}
.side-nav .subheader{
    color: rgba(0,0,0,0.54) !important;
}

.rectangle{
    height:100px;
    width:100px;
    margin:15px;
    display:inline-block;
}