#simple-grid-example{
    margin-top:15px;
    margin-bottom:15px;
}
.simple-grid{
    display:flex;
    padding:10px;
    max-width: 350px;
    flex-flow: row wrap;
    justify-content:space-around;
}
.grid-item{
    text-align: center;
    vertical-align: middle;
    line-height:90px;
    margin:5px;
    width:90px;
    height:90px;
    color:white;
    font-size:15px;
    border: 5px solid lightgoldenrodyellow;
    cursor:move;
}

#match-example{
    margin-top:15px;
    margin-bottom:15px;
}
.img-grid{
    min-height:80px;
    width:100%;
    display: flex;
    flex-flow:row wrap;
    margin-top:15px;
    margin-bottom:15px;
    justify-content: center;
}
.img-grid .title{
    width:100%;
    padding:5px;
}
.img-item{
    margin:16px;
    height:64px;
    width:64px;
    border:none !important;
    cursor:move;
    -webkit-touch-callout: none;
}

#nested-example{
    margin-top:15px;
    margin-bottom:15px;
}
.nestable{
    display:flex;
    flex-flow:row wrap;
    border:3px double black !important;
}
.nested-item{
    flex: 1 1 calc(33.3333% - 14px);
    min-height:50px;
    border: 1px solid black;
    padding: 7px;
    margin:7px;
    cursor:move;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 15px;
}
.w-1-1{
    flex: 1 1 100%;
    border: 5px solid white;
    padding: 7px;
}

#nested-tree-example{
    margin-top:15px;
    margin-bottom:15px;
}
.nestable-ul{
    min-height:10px;
    margin:5px;
    padding:5px;
    border:3px solid blue;
}
.nested-li{
    background-color:rgba(1,1,1,0.2);
    padding:15px;
    border:4px double red;
    margin:5px;
}
.title{
    margin:2px;
    border:2px solid white;
    padding:3px;
}

.item{
    cursor:move;

}

#clonner-example {
    display: flex;
    margin-top:15px;
    margin-bottom:15px;
}
.canvas{
    flex: 1 1 80%;
    display:flex;
    flex-flow:row wrap;
}
.canvas .example-item{
    margin:10px;
    flex: 0 0 auto;
    height:100px;
    width:100px;
}
.palette{
    flex: 1 1 80px;
    display:flex;
    flex-flow:column nowrap;
    padding:15px;
}
.palette .example-item{
    flex: 0 0 auto;
    min-height:50px;
    min-width:50px;
    margin-top:5px;
    margin-bottom:5px;
}

.side-nav a,.side-nav li>a>i.material-icons {
    color: rgba(0,0,0,1) !important;
}
.side-nav .subheader{
    color: rgba(0,0,0,0.54) !important;
}
.rectangle:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.flex-grid{
    /*padding:5px;*/
}
#simple-example{
    /*max-width:350px;*/
}
.rectangle{
    margin:2.5%;
    flex-basis:calc(33.3333% - 5%);
}
#clone-example{
    max-width:750px;
}
#clone-example .rectangle{
    margin:2.5%;
    flex-basis:calc(25% - 5%);
}
#simple-example-2 .item{
    margin-top:10px;
    margin-bottom:10px;
}
#markup-example .rectangle{
    margin:2.5%;
    flex-basis:calc(33.3333% - 5%);

    /*width:100px;*/
    /*height:100px;*/
    /*flex-basis:100px;*/
}
#markup-example{
    /*max-width:500px;*/
}
/*#markup-example ol { counter-reset: item; padding-top:5px; padding-bottom:5px;}*/
/*#markup-example li { display: block; margin-top:5px; margin-bottom:5px;}*/
/*#markup-example li:before { content: counters(item, ".") " "; counter-increment: item; margin-right:5px; }*/
.list-item{
    background-color:rgba(255,80,30,0.1);
}
#markup-example .nestable {
    margin:1%;
}

.w1{
    flex-basis:8.3333%;
    max-width:8.3333%;
}
.w2{
    flex-basis:16.6667%;
    max-width:16.6667%;
}
.w3{
    flex-basis:23%;
    max-width:23%;
}
.w4{
    flex-basis:31.3333%;
    max-width:31.3333%;
}
.w5{
    flex-basis:41.6667%;
    max-width:41.6667%;
}
.w6 {
    flex-basis: 48%;
    max-width: 48%;
}
.w7{
    flex-basis:58.3333%;
    max-width:58.3333%;
}
.w8{
    flex-basis:66.6667%;
    max-width:66.6667%;
}
.w9{
    flex-basis:75%;
    max-width:75%;
}
.w10{
    flex-basis:83.3333%;
    max-width:83.3333%;
}
.w11{
    flex-basis:91.6667%;
    max-width:91.6667%;
}
.w12{
    flex-basis:100%;
    max-width:100%;
}